
body {
    font-family: 'Oswald', sans-serif;
    background-image: https://opencaching.pl/images/uploads/D062B9CC-B5BD-4E2E-E021-57B6A4F4BB61.jpg;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
